{% extends "base.html" %}
{% load staticfiles %}
{% load custom_markdown %}
{% block title %}
    {{ article.title |truncatewords:5 }} | Tinydz博客
{% endblock title %}
{% block content %}
<article id="post-guide-for-zb" class="article article-type-post" itemscope itemprop="blogPost">
<div class="article-meta">
    <span class="article-date">
      <time itemprop="datePublished">
        {{ article.publish_time.month}}月{{ article.publish_time.day}} / {{ article.publish_time.year }}
      </time>
    </span>
    </div>
  <div class="article-inner">  
      <input type="hidden" class="isFancy" />
      <header class="article-header">
    <h1 class="article-title" itemprop="name">
      {{ article.title }}
    </h1>
      </header>
      <div class="article-info article-info-post">
        
      <div class="article-tag tagcloud">
        <ul class="article-tag-list">
        {% for tagname in article.get_tags %}
        <li class="article-tag-list-item">
        <a class="article-tag-list-link" href="/tagachieves/{{ tagname }}/">{{ tagname }}</a></li>
        {% endfor %}
        </ul>
      </div>
      <div class="clearfix"></div>
      </div>

    <div class="article-entry" itemprop="articleBody">
      {{ article.content|custom_markdown|safe }}
    </div>
    
  </div>
  
<!-- 上一页，下一页 #   -->
<nav id="article-nav">
  {% if article.get_next_article %}
  {% with after=article.get_next_article %}

    <a href="{{ after.get_absolute_url}}" id="article-nav-older" class="article-nav-link-wrap">
    <div class="article-nav-title">
      {{ after }}
    </div>
    <strong class="article-nav-caption"> > </strong></a>  
{% endwith %}
{% endif %} 
{% if article.get_pre_article %}
  {% with before=article.get_pre_article %}
    <a href="{{ before.get_absolute_url }}" id="article-nav-newer" class="article-nav-link-wrap">
    <strong class="article-nav-caption"> < </strong>
    <div class="article-nav-title">
      {{ before }}
    </div></a> 
   {% endwith %}
  {% endif %}   
</nav>
</article>
<div >
  <div class="share">
  <!-- JiaThis Button BEGIN -->
    <div class="jiathis_style">
      <span class="jiathis_txt">分享到：</span>
      <a class="jiathis_button_tsina"></a>
      <a class="jiathis_button_cqq"></a>
      <a class="jiathis_button_douban"></a>
      <a class="jiathis_button_weixin"></a>
      <a class="jiathis_button_tumblr"></a>
      <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
    </div>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1405949716054953" charset="utf-8"></script>
    <!-- JiaThis Button END -->
  </div>
</div>

{% include "duoshuo.html" %}

{% endblock content %}
