{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
	文章分类 | Tinydz博客
{% endblock title %}
{% block content %}
{% if articles %}
  {% for article in articles  %}
	  {% ifchanged article.category.name %} 
      </section>
	    <section class="archives-wrap">
		    <div class="archive-year-wrap">
		          <a href="#" class="archive-year" style="font-size: 23px">
		          	{{ article.category.name}}
		          </a>
		    </div>
		   <div class="archives"> 
	    {% endifchanged %}
	  <article class="archive-article archive-type-post">
	    <div class="archive-article-inner">
	        <header class="archive-article-header">
		        <div class="article-meta">
		          <a href="#" class="archive-article-date">
		              <time itemprop="datePublished">       
		              {{ article.publish_time.month}}&nbsp;月
		              {{ article.publish_time.day}}&nbsp;日
		              </time>
		          </a>
		        </div>
			    <h1 itemprop="name">
			      <a class="archive-article-title" href="{{ article.get_absolute_url }}">
			        {{article.title}}
			      </a>
			    </h1>
		        <div class="article-info info-on-right">    
			        <div class="article-tag tagcloud">
			          <ul class="article-tag-list">
			          {% for tagname in article.get_tags %}
			          <li class="article-tag-list-item">
			          <a class="article-tag-list-link" href="/tagachieves/{{ tagname }}/">{{ tagname}}</a></li>
			          {% endfor %}
			        </ul>
			        </div>
		        </div>
	            <div class="clearfix"></div>
	        </header>
	    </div>
	  </article>

{% endfor %}
</div>
</section>
{% include "paginator.html" %}
{% else %}
   对不起，您还没有写文章呢
{% endif %}

{% endblock%}